.hamburger {
  display: none;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  background-color: #ffffff;
  align-items: center;
  padding: 0 40px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  z-index: 5;
}

.hamburger .left {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}

.hamburger .left .profilButton {
  display: flex;
  cursor: pointer;
  overflow: hidden;
  width: 30px;
}

.hamburger .left .profilButton .img {
  border: 2px solid #FFB400;
  width: 100%;
  height: 30px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.hamburger .right {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.hamburger .right .menuButton {
  width: 20px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.hamburger .right .menuButton span {
  width: 100%;
  height: 2px;
  margin: 0 0 5px 0;
  background-color: #000000;
}

.hamburger .right .menuButton span:last-child {
  margin: 0;
}

@media screen and (max-width: 1199px) {
  .hamburger {
    display: flex;
  }
}

@media screen and (max-width: 991px) {
  .hamburger {
    padding: 0 30px;
  }
}

@media screen and (max-width: 767px) {
  .hamburger {
    padding: 0 20px;
  }
}
